.resume {
  padding: 60px 20px;
  text-align: center;
  background-color: #ffffffd8; /* white background */
}

.container {
  max-width: 800px;
  margin: auto;
}

.buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.button {
  padding: 12px 24px;
  background-color: #11670ef2;
  color: #111211d2; /* better visibility on light button */
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
  transition: 0.3s;
}

.button:hover {
  background-color: #cad1e6d4;
  transform: translateY(-2px);
}

