.footer {
  background: #020617;
  color: #94a3b8;
  padding: 25px 40px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials {
  display: flex;
  gap: 15px;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  color: #94a3b8;
  text-decoration: none;
}

.links a:hover {
  color: white;
}
